.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.total {

    font-weight: bold;
    font-size: 19px;
    margin-right: 15px;
}

table td {
    text-align: center;
}



.image-upload div {

    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.image-upload div img {

    border : none;
    width: 100%;
    margin: 0 auto;
}

.image-upload div span {

    position: absolute;
    top: 25px;
    display: none;
}

.image-upload div.image-upload-active span {

    display: block;
}

.image-upload span.title {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
    font-size: 1.0em;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.image-upload span.youtube-link {

    position: absolute;
    top: 70%;
    color: white;
    font-weight: bold;
    font-size: 1.0em;
    z-index: 2;
    width: 100%;
    text-align: center;
}


.image-upload span.bg {

    top: 0px;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.image-upload span.input-file-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.image-upload span.input-file-container input.image-upload-file {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.image-upload span.input-file-container label.input-file-trigger {
    display: block;
    padding: 10px 20px 10px;
    background: #000;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
    font-weight: bold;
}